#title {
  position: absolute;
  top: 50%;
  margin: 0.5em;
}
.navList {
  list-style-position: horizontal;
}
.navList li {
  display: inline-block;
  margin: 0.2em 0.5em;
}
.tile {
  background-color: #a8cbed;
  padding: 1em;
}
body {
  background-color: #e8efef;
  font-family: "HelveticaNeueW01-75Bold", "Helvetica", Arial, sans-serif;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
h1 {
  font-size: 5em;
  margin-top: 0.1em;
  margin-bottom: 0.1em;
}
li {
  list-style: none;
}
#wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#mask {
  width: 100%;
  height: 500%;
}
.item {
  width: 100%;
  height: 100%;
  float: left;
}
.content {
  margin: 0 auto;
  position: relative;
}
.clear {
  clear: both;
}
