.title-panel {
  padding: 0.75em;
  background: #000000;
  text-align: center;
  color: #ffffff;
}
.title-panel h1 {
  margin: 0.2em;
}
.title-panel a:link {
  color: #ffffff;
}
.title-panel a:visited {
  color: #ffffff;
}
.title-panel a:hover {
  color: #808080;
}
.selectedNav {
  font-size: 2em;
}
.social-media {
  width: 20px;
  height: 20px;
  margin: 0 0 0 3px;
  background-image: url('../img/twitter-bird.eps');
}
.icon-list {
  list-style: none;
}
.social-text {
  margin-left: 25px;
}
#name-panel {
  display: inline-block;
}
#social-panel {
  float: right;
  display: inline-block;
}
.nav-bar {
  padding-bottom: 0.2em;
}
.big-panel {
  margin-left: 5em;
  margin-right: 5em;
  text-align: center;
}
.project-text {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  font-size: 0.9em;
  position: relative;
}
.project-description {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  padding: 0.5em;
}
.project-title {
  text-align: center;
}
.project-links {
  display: inline-block;
  vertical-align: bottom;
}
.project-footer {
  height: auto;
  text-align: center;
}
.project-techspecs {
  font-size: 0.9em;
  font-style: italic;
}
.project-example-image {
  height: 250px;
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#manuscripter_image {
  background-image: url('../img/manuscripter.png');
}
#website_image {
  background-image: url('../img/website.png');
}
#piano_image {
  background-image: url('../img/inprogress.png');
}
.demo-link {
  font-weight: bold;
}
.code-link {
  font-weight: bold;
}
.learning-panel {
  margin: 0.5em;
  position: absolute;
}
#education_content .thumbnail {
  width: 46%;
}
.learning-content {
  margin-top: 1em;
}
.learning-image {
  height: 164px;
  width: 226px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.learning-description {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  padding: 0.5em;
}
#uwaterloo_image {
  background-image: url('../img/waterloo-logo.png');
}
#markham_image {
  background-image: url('../img/markham-logo.png');
  background-repeat: no-repeat;
  background-position: center;
}
.experience-panel {
  margin: 0.5em;
}
.experience-description {
  margin: 1em;
  text-align: center;
  display: inline-block;
}
/* entire container, keeps perspective */
/* flip the pane when hovered */
.thumbnail:hover .flipper,
.thumbnail.hover .flipper {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
}
/* flip speed goes here */
.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  position: relative;
}
/* hide back of pane during swap */
.front,
.back {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
/* front pane, placed above back */
.front {
  z-index: 2;
}
/* back, initially hidden pane */
.back {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
}
body {
  font-family: "Segoe UI", "Segoe UI Web Regular", "Segoe UI Symbol", "Helvetica Neue", "BBAlpha Sans", "S60 Sans", Arial, "sans-serif";
  margin: 0em;
}
h1 {
  font-size: 3em;
  color: #ffffff;
  margin-top: 0.2em;
}
h2 {
  margin-bottom: 0.2em;
  margin-top: 0.2em;
}
h3 {
  margin-bottom: 0.1em;
  margin-top: 0.1em;
}
h4 {
  margin: 0px 0px 0px 1em;
}
a {
  text-decoration: none;
  margin-right: 1.2em;
}
.title {
  text-align: center;
}
.hidden {
  visibility: hidden;
  height: 0em;
}
#main_content {
  text-align: center;
  margin: 2em;
  font-size: 2em;
}
#content-panel {
  padding: 2em;
  color: black;
}
#content-panel a:link {
  color: black;
}
#content-panel a:visited {
  color: black;
}
#content-panel a:hover {
  color: #808080 ;
}
.thumbnail {
  width: 29%;
  height: 300px;
  border: 0.1em solid black;
  padding: 0.5em;
  margin: 0.2em;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
  display: inline-block;
  vertical-align: top;
}
.row {
  display: block;
}
