/**
  * Base Colors
  */
/**
  * Standard Colors
  */
/**
  * Urls
  */
.title-panel {
  width: 100%;
  border-bottom: 2px #1f8dd6;
  background-image: url('../images/nyc.jpg');
  padding-top: 3em;
  padding-bottom: 3em;
}
.title-panel h1 {
  margin: 0em;
  padding: 1em;
}
.title-panel ul {
  text-align: center;
}
.title-panel ul li {
  display: inline;
}
.title-panel .center {
  color: #ffffff;
}
/* entire container, keeps perspective */
.thumbnail {
  text-align: center;
  box-shadow: none;
  border: none;
}
.thumbnail p {
  padding-top: 2em;
}
.thumbnail img {
  height: 16em;
}
/* flip the pane when hovered */
.thumbnail:hover .flipper,
.thumbnail.hover .flipper {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
}
/* flip speed goes here */
.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
}
.back {
  position: absolute;
}
/* hide back of pane during swap */
.front,
.back {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
/* front pane, placed above back */
.front {
  z-index: 2;
}
/* back, initially hidden pane */
.back {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
}
.footer {
  background-image: url('../images/nyc.jpg');
  background-position: bottom;
  padding: 5em;
  margin-top: 5em;
}
body {
  font-family: 'Trebuchet MS', sans-serif;
}
.center {
  text-align: center;
}
.nav-centered-pills {
  text-alignt: center;
}
.nav-centered-pills ul.nav-pills {
  display: inline-block;
}
.nav-centered-pills li {
  display: inline;
}
.nav-centered-pills a {
  float: left;
}
.hidden {
  display: none;
}
.quote {
  margin: 4em;
}
.center-list {
  list-style-type: none;
  text-align: center;
  margin-right: 0px;
  margin-left: 0px;
}
.center-list h4 {
  margin: 0px;
}
hr {
  border-top-color: #333333;
}
.flipper-small {
  height: 100px;
}
