.title-panel {
  width: 100%;
  border-bottom: 2px #1f8dd6;
  background-image: url('../images/nyc.jpg');
}
.title-panel h1 {
  margin: 0em;
  padding: 1em;
}
.title-panel ul {
  text-align: center;
}
.title-panel ul li {
  display: inline;
}
body {
  font: 13px/14px Arial, sans-serif;
}
.center {
  text-align: center;
  color: white;
}
.nav-centered-pills {
  text-alignt: center;
}
.nav-centered-pills ul.nav-pills {
  display: inline-block;
}
.nav-centered-pills li {
  display: inline;
}
.nav-centered-pills a {
  float: left;
}
/*
.centered-pills { text-align:center; }
.centered-pills ul.nav-pills { display:inline-block; }
.centered-pills li { display:inline; }
.centered-pills a { float:left; }
//* html .centered-pills ul.nav-pills { display:inline; } /* IE6 */
