@import "variable.less";
@import "title.less";

body{

    font-family: 'Open Sans', sans-serif; 
    //font: 13px/14px Arial,sans-serif;
}
.center{
    text-align: center;
    color: white;
}

.nav-centered-pills{
    text-alignt:center;
    ul.nav-pills{
        display:inline-block;
    }
    li{display:inline;}
    a{float:left}
}
