@import "variables.less";

.learning-panel{
	margin: 0.5em;
}

.learning-content{
	margin-top: 1em;
}

.learning-image{
	height: 164px;
	width: 226px;
	display: inline-block;
}

.learning-description{
	display: inline-block;
	width: 75%;
	vertical-align: top;
	padding: 0.5em;
}

#uwaterloo_image{
	background-image: url('../img/waterloo-logo.png');
}

#markham_image{
	background-image: url('../img/markham-logo.png');	
	background-repeat: no-repeat;
	background-position: center;
}