@import "variables.less";
@import "nav.less";
@import "projects.less";
@import "learning.less";
@import "experience.less";
@import "flipper.less";


body{
	// font-family: "Segoe WP","HelveticaNeueW01-75Bold", "Helvetica", Arial, sans-serif;
	font-family:"Segoe UI", "Segoe UI Web Regular", "Segoe UI Symbol", "Helvetica Neue", "BBAlpha Sans", "S60 Sans", Arial, "sans-serif";
	margin: 0em;
	
}

h1{
	font-size: 3em;
	color: @fontColorInverse;
	margin-top: 0.2em;
}

h2{
	margin-bottom: 0.2em;
	margin-top: 0.2em;
}
h3{
	margin-bottom: 0.1em;
	margin-top: 0.1em;

}
h4{
	margin: 0px 0px 0px 1em;
}
a{
	text-decoration: none;		
	margin-right: 1.2em;	
}

.title{
	text-align: center;
}

.hidden{     visibility: hidden;     height: 0em; }
#main_content{
	text-align: center;
	margin: 2em;
	font-size : 2em;
}


#content-panel{
	padding:2em;
	color: black;
}

#content-panel a:link{
	color:black;
}
#content-panel a:visited{
	color:black;
}
#content-panel a:hover{
	color:#808080 ;
}

.thumbnail{
	width: 29%;
	height: 300px;
	// height: auto;
	border: 0.1em solid black;
	padding:0.5em;
	margin:0.2em;
	// float: left;
	// position: relative;
	// background-color: #808080 ;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	 -o-border-radius: 10px;
	 -ms-border-radius: 10px;	
	 -khtml-border-radius: 10px;
	 border-radius: 10px;
	display: inline-block;
	vertical-align: top;
}
.row{
	// float: left;
	// width: 100%;
	// height: 100%;
	// padding-left: auto;
	// padding-right: 	 auto;
	display: block;
	// position: absolute;
}

