@import "variables.less";

.project-text{
	display: inline-block;
	vertical-align: top;		
	width: 60%;
	
	float: left;
	
	position: relative;
}

.project-description{
	display: inline-block;
	vertical-align: top;
	padding: 0.5em;
}

.project-links{
	display: inline-block;
	vertical-align: bottom;
	
}
.project-image{
	display: inline-block;	
}
.project-footer{
	//position: absolute;
	height: auto;
	//bottom: 0;	
}
.project-techspecs{
	
	font-size: 0.9em;
	font-style: italic;
}

.project-example-image{
	height: 250px;
	float: right;
	width:400px;
	display: inline-block;
}

#manuscripter_image{
	background-image: url('../img/manuscripter.png');	
}

#website_image{
	background-image: url('../img/website.png');	
}

#piano_image{
	background-image: url('../img/inprogress.png');	
}

.project-panel{
	margin: 0.5em;
}


.demo-link{
	padding-right: 0.2em;
	margin-right: 0em;
	font-weight: bold;
}



.code-link{
	font-weight: bold;
	padding-left: 0.2em;
}