@import "variable.less";
.footer{
//  background-image:url(@nycImage) ;
  //padding: 5em; 
  margin-top:5em;
  margin-bottom:5em;
  text-align:center;
  .img-link{
    height:5em;
    padding:1em;
  }
}
