@import "variable.less";
@import "title.less";

body{

    //font-family: Segoe UI light, Helvetica, Arial, Tahoma;
    font: 13px/14px Arial,sans-serif;
}
.center{
    text-align: center;
    color: white;
}

.nav-centered-pills{
    text-alignt:center;
    ul.nav-pills{
        display:inline-block;
    }
    li{display:inline;}
    a{float:left}
}
/*
.centered-pills { text-align:center; }
.centered-pills ul.nav-pills { display:inline-block; }
.centered-pills li { display:inline; }
.centered-pills a { float:left; }
//* html .centered-pills ul.nav-pills { display:inline; } /* IE6 */
//*+html .centered-pills ul.nav-pills { display:inline; } /* IE7 */
