@import "variable.less";

.title-panel{
  width:100%;
  border-bottom: 2px @colorMain;
  //background-image:url(@nycImage) ;
  padding-top:3em;
  padding-bottom:1em;
  text-align: center;
  h1{
      margin: 0em;
      padding: 0.2em;
  }
  ul{
      text-align:center;
      li{
          display: inline;
      }
      a{
        border-radius: 0px;
        //background-color: @blue;
      }
  }
}


