/**
  * Base Colors
  */ 
@blue: #477f99;
@white: white;
@black:#333;
@grey: lightGrey;
/**
  * Standard Colors
  */
@borderColor: @black; 
@colorMain: @blue;
/**
  * Urls
  */
@nycImage: '../images/nyc.jpg';  // http://hdw.eweb4.com/wallpapers/9156/
@treeImage: '../images/tree_bark.png';
@woodImage: '../images/retina_wood.png';

@backgroundImage: @woodImage; 
