<!DOCTYPE HTML>
<html>
	<head>
		<!-- <link rel="stylesheet" type="text/css" href="static/css/main.css"> -->
		<link rel="stylesheet" type="text/css" href="static/css/mystyle.css">
		<script src="static/libs/jquery-1.10.1.min.js"></script>
		<script src="static/libs/modernizr.custom.74850.js"></script>
		<script src="static/js/scripts.js"></script>		
		<!--<script src="libs/bootstrap/js/bootstrap.min.js"></script>
		<link href="libs/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">-->
	</head
	<body>
		<!-- <div class="container-fluid">			 -->
			<div class="title-panel">
				<div id="name-panel">
					<h1><a  data="main_content" href="">Christopher Ngan</a></h1>
				</div>
				<div id="social-panel">
					<ul class="icon-list">
						<li><a href="https://twitter.com/chrisngan1">Twitter</a></li>
						<li><a href="https://www.facebook.com/chris.ngan.9">Facebook</a></li>
						<li><a href="http://ca.linkedin.com/pub/christopher-ngan/52/211/725">LinkedIn</a></li>
						<li><a href="https://bitbucket.org/nganman">BitBucket</a></li>
						
						
					</ul>
				</div>
				<nav class="nav-bar">
					<a href="static/cv/Christopher%20Ngan%20Technical.pdf">CV</a>
					<a data="projects_content" href="#projects">Projects</a>
					<a data="education_content" href="#education">Learning</a>
					<a data="experience_content" href="#experience">Experience</a>				
				</nav>
				

				
				
				
				
			</div>
			<div id="content-panel">
				<div class="content hidden" id="main_content">
					<div class="main-panel">
						
					</div>
				</div>

				<div class="content hidden" id="projects_content">
					<h2>Projects</h2>
					<div class="project-panel">
						<div class="project-content">
							<div class="thumbnail">
								<h3>Manuscripter</h3>
								<div class="project-description">
									<div class="project-text">
										<div class="project-description">Prepping for an inductive Bible Study? Here is the tool for you!  Manuscripter allows you to get just the text of any Bible passage, letting you focus on reading scripture and removing one more burden in your life. 
										</div>
										
										<div class="project-footer">
											<div class="project-techspecs">
											Technology Used: Bootstrap, Backbone, Node.js, RESTful WebServices
											</div>	
											<div class="project-links">
												<a class="demo-link" href="http://manuscripter.aws.af.cm/index.html">View Demo</a>|<a class="code-link" href="https://bitbucket.org/nganman/manuscripter">View Code</a>
											</div>	
										</div>
										
									</div>
									
									<div class="project-image">
										<img class="project-example-image" id="manuscripter_image"/>
									</div>
								</div>
							</div>
						</div>
					
					
						<div class="project-content">
							<h3>Online Portfolio</h3>
							<div class="project-description">
								<div class="project-text">
									<div class="project-description">Welcome to my personal website.  This is an online portfolio to display a little bit of who I am and the things I have had a chance to do.  Please understand that this is a work in progress still and if you have any feedback, please feel free to contact me accordingly.
									</div>
									<div class="project-footer">
										<div class="project-techspecs">
										Technology Used: HTML5, CSS, JQuery
										</div>	
										<div class="project-links">
											<a class="code-link" href="https://bitbucket.org/nganman/personal-website/src">View Code</a>
										</div>	
									</div>															
								</div>						
								<div class="project-image">
									<img class="project-example-image" id="website_image"/>
								</div>
							</div>				
						</div>
						<div class="project-content">
							<h3>Electric Piano</h3>
							<div class="project-description">
								<div class="project-text">
									<div class="project-description">This was a final project for a lab course I took in my first year of Engineering at Waterloo.  It uses an FPGA board to control the frequency of two speakers by simply sending a binary signal at controlled time intervals.  This oscillation of high and low created the sweet tones of an electric piano.  
									</div>
									<div class="project-footer">
										<div class="project-techspecs">
										Technology Used: Spartan 3 FPGA Board, Circuit Design, Verilog
										</div>									
									</div>															
								</div>						
								<div class="project-image">
									<img class="project-example-image" id="piano_image"/>
								</div>
							</div>				
						</div>
						<div class="project-content">
							<h3>Smart Watch Metronome</h3>
							<div class="project-description">
								<div class="project-text">
									<div class="project-description"><h2>IN PROGRESS</h2>
									</div>
									<div class="project-footer">
										<div class="project-techspecs">
										Technology Used: Android
										</div>									
									</div>															
								</div>						
								
							</div>				
						</div>
					</div>
				</div>			
				<div class="content hidden" id="education_content">
					<h2>Formal Education</h2>
					<div class="learning-panel">
						<div class="learning-content">
							<h3>System Design Engineering, University of Waterloo (Class of 2016)</h3>
							<div class="learning-image" id="uwaterloo_image"></div>
							<div class="learning-description">							
								I am currently pursuing a Bachelor of Applied Science at the University of Waterloo.  So why systems?  I am interested in a variety of things, from writing code to mechanical design.  Beyond that, my goal is to apply my training and education to help developing communities.  Currently, I have no idea what that will look like! However, I am excited to continue learning in preperation for this future.  
							</div>
						</div>
					</div>
					<div class="learning-panel">
						<div class="learning-content">
							<h3>Markham District High School (Class of 2011)</h3>
							<div class="learning-image" id="markham_image"></div>
							<div class="learning-description">							
								My time in high school was an opportunity of growth and exploration.  I was part of the gifted program with a strong focus on academic success.  Furthermore, I joined in a variety of extra curricular activities including the well recognized music program and the Leadership Enrichemnt And Development program.  
							</div>
						</div>
					</div>
				</div>
				<div class="content hidden" id="experience_content">
					<h2>Professional</h2>
					<div class="experience-panel">
						<div class="experience-content">
							<h3>Nicoya Lifesciences (May 2013 - Present)</h3>
							<h4>Product Developer</h4>
							<div class="experience-image" id="markham_image"></div>
							<div class="experience-description">							
								Nicoya Lifescience is a company set to improve the general well being of people through the development of diagnostic tools for home use.  My main role has been involved with the software and hardware development of a variety of projects within the company.  Projects include the HeartDoc, Nicoya's ground breaking technology that allows people to conduct blood test with their smart phones and a top secret project that utilized
							</div>
						</div>		
						<div class="experience-content">
							<h3>Collaborative Systems Laboratory (January 2013 - Present)</h3>
							<h4>Undergraduate Research Assistant</h4>
							<div class="experience-image" id="markham_image"></div>
							<div class="experience-description">							
								I am currently working with a PhD student in studying the effectiveness of animations on large touch displays.  
							</div>
						</div>			
						<div class="experience-content">
							<h3>Genesys (September 2012 - December 2012)</h3>
							<h4>Mobile Developer Intern</h4>
							<div class="experience-image" id="markham_image"></div>
							<div class="experience-description">							
									
							</div>
						</div>
						<div class="experience-content">
							<h3>Cole Engineering (January 2012 - April 2012)</h3>
							<h4>Junior Program Developer</h4>
							<div class="experience-image" id="markham_image"></div>
							<div class="experience-description">							
								
							</div>
						</div>
					</div>
					<h2>Volunteer</h2>
					<div class="experience-panel">
						<div class="experience-content">
							<h3>Ray of Hope (September 2011 - Present)</h3>
							<h4>Volunteer</h4>
							<div class="experience-image" id="markham_image"></div>
							<div class="experience-description">							
								Ray of Hope is an organization based in Kitchener that is focused on providing aid to the less fortunate people of the region.  This includes education, job training and drop in centers.  I have had the amazing opportunity to volunteer at the drop in center on a weekly basis.  It has been an experience that has inspired me to focus my future in the development of systems for the benefits of others, especially for developing communities.  
							</div>
						</div>					
					</div>
				</div>
			</div>
		<!-- </div> -->
	</div>
	</body>
</html>
